<ion-view view-title="Commerces">
	<ion-content>
	    <!--<i class = "icon icon ion-android-restaurant"></i>
	    <i class = "icon icon ion-location"></i>
	    <i class = "icon icon ion-coffee"></i>
	    <i class = "icon icon ion-ios-cart"></i>
	    <i class = "icon icon ion-android-cart"></i>-->
        
        <div class="list card list_card">
          <div class="item item-divider">
            Liste des Commerces
          </div>

          <div class="item item-avatar">
            <img src="img/monoprix.jpg">
            <h2>Monoprix</h2>
            <p>24 rue de la libération, 75020 Paris</p>
          </div>

          <div class="item item-image">
            <img src="img/monoprix.jpg">
          </div>

          <a class="item item-icon-left" href="#">
            <i class="icon icon ion-android-restaurant"></i>
            Sélectionner Commerce
          </a>
          <a class="item item-icon-left assertive" ui-sref="map">
            <i class="icon icon ion-location"></i>
            Localiser
          </a>
          
           <div class="item item-divider"></div>
           <div class="item item-divider"></div>
          
          <div class="item item-avatar">
            <img src="img/carrefour.jpg">
            <h2>Carrefour city</h2>
            <p>156 Boulevard Voltaire, 75015 Paris</p>
          </div>

          <div class="item item-image">
            <img src="img/carrefour.jpg">
          </div>

          <a class="item item-icon-left" href="#">
            <i class="icon icon ion-android-restaurant"></i>
            Sélectionner Commerce
          </a>
          <a class="item item-icon-left assertive" ui-sref="map">
            <i class="icon icon ion-location"></i>
            Localiser
          </a>
          
           <div class="item item-divider"></div>
           <div class="item item-divider"></div>
                   
                    <div class="item item-avatar">
            <img src="img/epicerie.jpg">
            <h2>Epicerie Fine</h2>
            <p>35 Avenue de l'ange, 75012 Paris</p>
          </div>

          <div class="item item-image">
            <img src="img/epicerie.jpg">
          </div>

          <a class="item item-icon-left" href="#">
            <i class="icon icon ion-android-restaurant"></i>
            Sélectionner Commerce
          </a>
          <a class="item item-icon-left assertive" ui-sref="map">
            <i class="icon icon ion-location"></i>
            Localiser
          </a>
          <!--<div class="item item-avatar">
            <img src="avatar.jpg">
            <h2>Pretty Hate Machine</h2>
            <p>Nine Inch Nails</p>
          </div>

          <div class="item item-image">
            <img src="cover.jpg">
          </div>

          <a class="item item-icon-left assertive" href="#">
            <i class="icon icon ion-android-restaurant"></i>
            Sélectionner restaurant
          </a>-->

</div>
	<ion-content>
</ion-view>