<ion-view view-title="formCollecteurs">
	<ion-content>
	    <i class = "icon icon ion-android-restaurant"></i>
	    <i class = "icon icon ion-location"></i>
	    <i class = "icon icon ion-coffee"></i>
	    <i class = "icon icon ion-ios-cart"></i>
	    <i class = "icon icon ion-android-cart"></i>
	    <div class="row">
          <div class="col-md-6">.col-md-6</div>
            <div class="col-md-6">.col-md-6</div>
            <div class="col-md-6">.col-md-6</div>
            <div class="col-md-6">.col-md-6</div>
        </div>
	<ion-content>
</ion-view>