<ion-view view-title="Restaurants">
	<ion-content>
	    <!--<i class = "icon icon ion-android-restaurant"></i>
	    <i class = "icon icon ion-location"></i>
	    <i class = "icon icon ion-coffee"></i>
	    <i class = "icon icon ion-ios-cart"></i>
	    <i class = "icon icon ion-android-cart"></i>-->

        
        <div class="list card list_card">
          <div class="item item-divider">
            Liste des Restaurants
          </div>

          <div class="item item-avatar">
            <img src="img/devanture.png">
            <h2>Restaurant Le Mûre</h2>
            <p>24 rue de la libération, 75020 Paris</p>
          </div>

          <div class="item item-image">
            <img src="img/devanture.png">
          </div>

          <a class="item item-icon-left" href="#">
            <i class="icon icon ion-android-restaurant"></i>
            Sélectionner Restaurant
          </a>
          <a class="item item-icon-left assertive" ui-sref="map">
            <i class="icon icon ion-location"></i>
            Localiser
          </a>
          
           <div class="item item-divider"></div>
           <div class="item item-divider"></div>
          
          <div class="item item-avatar">
            <img src="img/Devanturepiscine.jpg">
            <h2>Restaurant Côte Piscine</h2>
            <p>156 Boulevard Voltaire, 75015 Paris</p>
          </div>

          <div class="item item-image">
            <img src="img/Devanturepiscine.jpg">
          </div>

          <a class="item item-icon-left" href="#">
            <i class="icon icon ion-android-restaurant"></i>
            Sélectionner Restaurant
          </a>
          <a class="item item-icon-left assertive" href="#">
            <i class="icon icon ion-location"></i>
            Localiser
          </a>
          <!--<div class="item item-avatar">
            <img src="avatar.jpg">
            <h2>Pretty Hate Machine</h2>
            <p>Nine Inch Nails</p>
          </div>

          <div class="item item-image">
            <img src="cover.jpg">
          </div>

          <a class="item item-icon-left assertive" href="#">
            <i class="icon icon ion-android-restaurant"></i>
            Sélectionner restaurant
          </a>-->

</div>
	<ion-content>
</ion-view>