    <ion-view view-title="Accueil">
        <ion-content>
                <div class="item item-body">
                    <img class="full-image key" src="img/Croquis.PNG">
                    <button class="button button-balanced button-outline button-block" ui-sref="collecteurs">
                        Collecteurs
                    </button>
                    <button class="button button-balanced button-outline button-block" ui-sref="donneurs">
                        Donneurs
                    </button>
                    <button class="button button-balanced button-outline button-block" ui-sref="particuliers">
                        Particuliers
                    </button>
                </div>
        </ion-content>
    </ion-view>