<ion-view view-title="Choix du type de donneurs">
	<ion-content>
       <div class="list">
         <div class="item item-divider">
            Type de Donneurs
          </div>
      <a class="item item-icon-left" ui-sref="formRestaurants">
        <i class="icon icon ion-android-restaurant"></i>
        Restaurant
      </a>
      <a class="item item-icon-left" ui-sref="formCafe">
        <i class="icon icon ion-coffee"></i>
        Café
      </a>
      <a class="item item-icon-left" ui-sref="formCommerce">
        <i class="icon icon ion-android-cart"></i>
        Commerce
      </a>
      <a class="item item-icon-left" ui-sref="formParticuliers">
        <i class="icon icon ion-person-stalker"></i>
        Particuliers
      </a>
</div>
    </ion-content>
</ion-view>