<ion-view view-title="Google Maps">
 <ion-content>
 <div class="list card">

  <div class="item item-avatar">
    <img src="img/devanture.png">
    <h2>Restaurant Le Mûre</h2>
    <p>24 rue de la libération, 75020 Paris</p>
  </div>
  <div class="item item-body">
      <img class="full-image" src="img/devanture.png">
  </div>
      <a class="item item-icon-left balanced" ui-sref="descRestaurant">
        <i class="icon icon ion-android-call"></i>
        Appeler
    </a>
    <a class="item item-icon-left assertive" ui-sref="map">
        <i class="icon icon ion-android-mail"></i>
        Mail
    </a>
    <h4>Horaires : </h4>
    <p>Lundi au samedi
    9h-23h
    </p>
    <p>
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem eum officia fugit corporis odit adipisci ab officiis. Illum iusto, sunt possimus, optio accusantium, ratione aliquam nulla perspiciatis rerum, cum quos.</p>
     <p>
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. At id excepturi iure, minus eius nisi nam sit quidem fugiat, accusantium et neque voluptatibus ea, sint magni explicabo itaque tempora repudiandae.
    </p>
</div>
    </ion-content>
</ion-view>