<ion-view view-title="Particuliers">
	<ion-content>
	    <!--<i class = "icon icon ion-android-restaurant"></i>
	    <i class = "icon icon ion-location"></i>
	    <i class = "icon icon ion-coffee"></i>
	    <i class = "icon icon ion-ios-cart"></i>
	    <i class = "icon icon ion-android-cart"></i>-->
  <div class="item item-divider">
    Liste des particuliers
  </div>
  <div class="item item-divider">
    <a class="item item-avatar" href="#">
      <img src="img/person-flat.png">
      <h2>Particulier 1</h2>
      <p>Récolteur de produits périmés.</p>
    </a>
    <a class="item item-icon-left" href="#">
        <i class="icon icon ion-man"></i>
        Sélectionner Personne
    </a>
    <a class="item item-icon-left assertive" ui-sref="map">
        <i class="icon icon ion-location"></i>
        Localiser
    </a>
   </div>
   <div class="item item-divider">
    <a class="item item-avatar" href="#">
        <img src="img/person-girl-flat.png">
        <h2>Particulier 2</h2>
        <p>Récolteur de Compost</p>
    </a>
        <a class="item item-icon-left" href="#">
        <i class="icon icon ion-man"></i>
        Sélectionner Personne
    </a>
    <a class="item item-icon-left assertive" ui-sref="map">
        <i class="icon icon ion-location"></i>
        Localiser
    </a>
   </div>
   <div class="item item-divider">
    <a class="item item-avatar" href="#">
        <img src="img/female1-512.png">
        <h2>Particulier 3</h2>
        <p>Récolteur</p>
    </a>
        <a class="item item-icon-left" href="#">
        <i class="icon icon ion-man"></i>
        Sélectionner Personne
    </a>
    <a class="item item-icon-left assertive" ui-sref="map">
        <i class="icon icon ion-location"></i>
        Localiser
    </a>
   </div>